<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment :: head">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>


<body>



<div th:class="container">
    <div th:replace="header :: top-header"></div>

    <div th:class="register-form">
        <h2>Customer Registration</h2>
        <form th:class="register-form" th:action="@{/auth/register}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input th:field="${customer.name}" type="text" class="form-control" id="name"  placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input th:field="${customer.email}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input th:field="${customer.password}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="mobileNumber">Contact Number</label>
                <input th:field="${customer.mobileNumber}" type="text" class="form-control" id="mobileNumber" placeholder="Contact Number">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <div class="form-check gender">
                    <input class="form-check-input" th:field="${customer.gender}" type="radio" name="customerGender" id="maleGender">
                    <label class="form-check-label" for="maleGender">Male</label>
                </div>
                <div class="form-check gender">
                    <input class="form-check-input" th:field="${customer.gender}" type="radio" name="customerGender" id="femaleGender">
                    <label class="form-check-label" for="femaleGender">Female</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>



<footer th:replace="fragment :: footer"></footer>
</body>
</html>